::-webkit-scrollbar {
  width: 12px;
  height: 12px;
}

::-webkit-scrollbar-track {
  background: #1f1f1f;
  border: 1px solid #181818;
}

::-webkit-scrollbar-thumb {
  background: rgba(136, 136, 136, 0.7);
}

::-webkit-scrollbar-thumb:hover {
  background: rgba(161, 161, 161, 0.7);
}

::-webkit-scrollbar-horizontal {
  height: 8px;
}

::-webkit-scrollbar-corner {
  background: #1f1f1f;
}

::-webkit-scrollbar,
::-webkit-scrollbar-track,
::-webkit-scrollbar-thumb {
  cursor: default;
}

* {
  padding: 0;
  margin: 0;
  border: 0;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  user-select: none;
}

*,
*:before,
*:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

:focus,
:active {
  outline: none;
}

a:focus,
a:active {
  outline: none;
}

nav,
footer,
header,
aside {
  display: block;
}

html,
body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input,
button,
textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a,
a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: inherit;
  color: white;
}

.page {
  width: 100vw;
  height: 100vh;
  background-color: #1f1f1f;
  overflow: hidden;
}
.page__content {
  width: 100%;
  height: 100%;
  display: grid;
  grid-template-areas: "navbar navbar navbar" "sidebar explorer editor" "footer footer footer";
  grid-template-rows: 35px auto 25px;
  grid-template-columns: 50px minmax(100px, 250px) auto;
}
.page__content--editor-full {
  grid-template-areas: "navbar navbar navbar" "sidebar editor editor" "footer footer footer";
}
.navbar {
  display: flex;
  grid-area: navbar;
  background-color: #181818;
  border-bottom: 1px solid #2b2b2b;
}
.navbar__content {
  width: 100%;
  height: 100%;
  padding-left: 10px;
  gap: 10px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.navbar__icon {
  width: 20px;
  height: 20px;
  transform: rotate(90deg);
}
.navbar-title-block {
  width: 500px;
  height: 23px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #2a2a2a;
  border-radius: 5px;
  border: 1px solid #454545;
}
.navbar-title-block__title {
  font-weight: 100;
  font-size: 14px;
  color: #cccccc;
}

.navbar-button {
  width: 50px;
  height: 100%;
  background-color: transparent;
}
.navbar-button__icon {
  width: 15px;
}
.navbar-button:hover {
  cursor: pointer;
  background-color: #e81123;
}

.footer-left-block__error-warning-block, .footer-cursor-info, .footer-right-block__notification, .footer-right-block__crlf, .footer-right-block__encoding {
  height: 100%;
  display: flex;
  align-items: center;
  padding: 0 5px;
}
.footer-left-block__error-warning-block:hover, .footer-cursor-info:hover, .footer-right-block__notification:hover, .footer-right-block__crlf:hover, .footer-right-block__encoding:hover {
  background-color: #37373d;
  cursor: pointer;
}

.footer {
  grid-area: footer;
  background-color: #181818;
  border-top: 1px solid #2b2b2b;
}
.footer__content {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 13px;
  color: #cccccc;
}

.footer-right-block {
  height: 100%;
  display: flex;
  gap: 3px;
  padding-right: 10px;
}
.footer-right-block__notification-icon {
  width: 15px;
  height: 15px;
}

.footer-cursor-info {
  gap: 3px;
}
.footer-cursor-info__line-block {
  display: flex;
  align-items: center;
  gap: 2px;
}
.footer-cursor-info__col-block {
  display: flex;
  align-items: center;
  gap: 2px;
}

.footer-left-block {
  height: 100%;
  padding-left: 5px;
}
.footer-left-block__error-warning-block {
  gap: 3px;
}
.footer-left-block__icon {
  width: 15px;
  height: 15px;
}
.footer-left-block__icon-block {
  display: flex;
  align-items: center;
  gap: 2px;
}

.sidebar {
  grid-area: sidebar;
  background-color: #181818;
  border-right: 1px solid #2b2b2b;
}

.sidebar-button {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: transparent;
  padding: 5px 0;
  position: relative;
}
.sidebar-button__icon {
  width: 35px;
  height: 35px;
  opacity: 0.5;
}
.sidebar-button__icon:hover {
  opacity: 1;
}
.sidebar-button::before {
  content: "";
}
.sidebar-button--active .sidebar-button__icon {
  opacity: 1;
}
.sidebar-button--active::before {
  content: "";
  position: absolute;
  width: 2px;
  height: 100%;
  left: 0;
  top: 0;
  background-color: #0078d4;
}

.explorer {
  grid-area: explorer;
  background-color: #181818;
  border-right: 1px solid #2b2b2b;
}
.explorer__title-block {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
}
.explorer--hidden {
  display: none;
}
.explorer-title-block {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
  padding-top: 10px;
  padding-left: 20px;
  padding-right: 5px;
}
.explorer-title-block__title {
  color: #cccccc;
  font-weight: 600;
}
.explorer-title-block__collapse-icon {
  width: 20px;
  height: 20px;
}
.explorer-title-block::before {
  content: "";
  position: absolute;
  background-image: url("../assets/collapse-arrow.svg");
  width: 15px;
  height: 15px;
  background-size: cover;
  left: 3px;
  top: 13px;
  transform: rotate(270deg);
}
.explorer-title-block:hover {
  cursor: pointer;
}
.explorer-title-block:hover .explorer-title-block__collapse-button {
  visibility: visible;
}
.explorer-title-block--collapsed::before {
  transform: rotate(180deg);
}

.explorer-collapse-button {
  padding: 1px;
  background-color: transparent;
  visibility: hidden;
}
.explorer-collapse-button__icon {
  width: 20px;
  height: 20px;
}
.explorer-collapse-button:hover {
  background-color: #37373d;
}

.explorer-files {
  display: flex;
  flex-direction: column;
}

.editor {
  grid-area: editor;
  display: flex;
  flex-direction: column;
  font-family: "Fira Code", Consolas, monospace, sans-serif;
  font-size: 20px;
  background-color: #1f1f1f;
  user-select: none;
  overflow: auto;
}
.editor__text-area-block {
  display: flex;
  margin-top: 5px;
}
.editor__text-area {
  flex-grow: 1;
  height: 100%;
  background-color: transparent;
  border: none;
  outline: none;
  color: #4cc1f2;
  font-size: inherit;
  line-height: 1.3;
  white-space: pre-wrap;
  position: relative;
}
.editor__text-area::after {
  content: "|";
  display: inline-block;
  width: 1px;
  animation: blink 0.8s steps(1) infinite;
}
@keyframes blink {
  50% {
    opacity: 0;
  }
}

.line-counter {
  display: flex;
  flex-direction: column;
  align-items: end;
  width: 75px;
  padding: 0 15px;
  line-height: 1.3;
}
.line-counter__number {
  color: #6e7681;
  font-weight: 500;
}

.files-bar {
  width: 100%;
  height: 100%;
  height: 30px;
  background-color: #181818;
}

.file-tab {
  display: inline-flex;
  align-items: center;
  padding-right: 20px;
  padding-left: 30px;
  height: 100%;
  background-color: #1f1f1f;
  border-right: 1px solid #2b2b2b;
  border-top: 1px solid #0078d4;
}
.file-tab__title {
  font-weight: 400;
  font-size: 14px;
  color: #cccccc;
  position: relative;
}
.file-tab__title::before {
  content: "";
  position: absolute;
  background-image: url("../assets/vs.svg");
  width: 15px;
  height: 15px;
  background-size: cover;
  left: -20px;
  top: 0px;
  transform: rotate(90deg);
}

.file {
  width: 100%;
}
.file__content {
  padding: 5px;
  padding-left: 50px;
}
.file__title {
  position: relative;
}
.file__title::before {
  content: "";
  position: absolute;
  background-image: url("../assets/vs.svg");
  width: 15px;
  height: 15px;
  background-size: cover;
  left: -20px;
  top: 0px;
  transform: rotate(90deg);
}
.file:hover {
  cursor: pointer;
  background-color: #37373d;
}
.file--selected {
  background-color: #37373d;
}

.folder {
  width: 100%;
}
.folder__title {
  position: relative;
}
.folder__title::before {
  content: "";
  position: absolute;
  background-image: url("../assets/collapse-arrow.svg");
  width: 15px;
  height: 15px;
  background-size: cover;
  left: -38px;
  top: -1px;
  transform: rotate(270deg);
}
.folder__title::after {
  content: "";
  position: absolute;
  background-image: url("../assets/folder/folder-opened.svg");
  width: 15px;
  height: 15px;
  background-size: cover;
  left: -20px;
  top: 0px;
}
.folder__title-block {
  width: 100%;
  padding: 5px;
  padding-left: 45px;
}
.folder__title-block:hover {
  cursor: pointer;
  background-color: #37373d;
}
.folder--collapsed .folder__title::before {
  transform: rotate(180deg);
}
.folder--collapsed .folder__title::after {
  background-image: url("../assets/folder/folder.svg");
}
.folder--collapsed .folder__children-block {
  display: none;
}