// variables & fucntions
@use 'variables' as vars;

// base & layout
@use 'base';
@use 'breakpoints' as bp;

//colors

// components

h1 {
    background-color: vars.$black;
    color: white;
}

// test
.responsive-test {
    width: 100px;
    height: 100px;

    @include bp.xs {
        background-color: red;
    }

    @include bp.sm {
        background-color: blue;
    }

    @include bp.md {
        background-color: green;
    }

    @include bp.lg {
        background-color: purple;
    }

    @include bp.xl {
        background-color: orange;
    }

    @include bp.breakpoint(1400px) {
        background-color: pink;
    }
}