@use 'colors.scss';
@use 'breakpoints' as bp;

.folder {
    width: 100%;

    &__content {}

    &__title {
        position: relative;
        font-size: 20px;

        @include bp.md {
            font-size: 14px;
        }

        &::before {
            content: "";
            position: absolute;
            background-image: url('../assets/collapse-arrow.svg');
            width: 20px;
            height: 20px;
            background-size: cover;
            left: -50px;
            top: -1px;
            transform: rotate(270deg);

            @include bp.md {
                width: 15px;
                height: 15px;
                left: -38px;
                top: -1px;
            }
        }

        &::after {
            content: "";
            position: absolute;
            background-image: url('../assets/folder/folder-opened.svg');
            width: 20px;
            height: 20px;
            background-size: cover;
            left: -25px;
            top: 0px;

            @include bp.md {
                width: 15px;
                height: 15px;
                left: -20px;
                top: 0px;
            }
        }
    }

    &__icon {}

    &__children-block {}

    &__title-block {
        width: 100%;
        padding: 10px;
        padding-left: 70px;

        @include bp.md {
            padding: 5px;
            padding-left: 55px;
        }

        &:hover {
            cursor: pointer;
            background-color: colors.$hover-dark;
        }
    }



    &--collapsed {
        .folder__title {
            &::before {
                transform: rotate(180deg);
            }

            &::after {
                background-image: url('../assets/folder/folder.svg');
            }
        }

        .folder__children-block {
            display: none;
        }
    }
}